@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	color:#EFEFEF;
	background-color: #212121;
	font-family: 黑体;
}
.nav {
	position: relative;
	background: #121212;
	z-index: 1;
	box-shadow:0 1px 5px 2px rgba(0,0,0,.14)
}

a {
	color:#fff;
}

a:hover {
	color:#fff;
	text-decoration:none; 
}

a:visited {
	color:#fff;
	text-decoration:none; 
}

a:active {
	color:#fff;
	text-decoration:none; 
}

a:link {
	color:#fff;
	text-decoration:none; 
}
.h1{	 
	position: relative;
	display:inline;
	margin-left: 15px;
	font-family:黑体;
	font-size: 24px;
}

.nav-title{
	position: relative;
	margin: 1em;
	margin-left: 10%
}

.nav-link{
	display:block;
	position: absolute;
	z-index: 100;
	right: 0;
	background-color: rgba(255,255,255,0.0);
	top:0;
	float: right;
	margin:0em 2em;
	padding: 1em;
	font-family:黑体;
	font-size: 16px;
	-webkit-transition-property: left, top, background, -webkit-transform;
  	-webkit-transition-duration: 0.3s, 0.3s, 0.3s, 0.3s;
  	-webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
  	-webkit-transition-delay: 0, 0, 0, 1s;
}

.nav-link:hover {
	background-color: rgba(255,255,255,0.2);
}

.welcome {
	text-align: center;
	font-size: 36px;
	font-family: 黑体;
}

.typed-cursor{
	display: inline;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
   	-moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.message {
	 margin-top: 100px;
}
.header {
	height: 350px;
    position: relative;
    background-image: url(../images/53117853_p0.jpg);
    width: 100%;
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
}
.clover {
	height: 350px;
	width: 100%;
	background-color:rgba(0,0,0,0.35);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

#main {
	margin: 10px 40px;
	background-color: #424242;
	border-radius:5px;
	-moz-border-radius:5px;
}
.content {
	margin: 20px 20px 20px 10px;
	padding: 20px
}
.table {
 	width: 80%;
    margin: 0 auto;
    font-size: 14px;
    color: #eee;
}

@media (max-width: 600px) {
	.message {
	font-size: 24px;
	 margin-top: 100px;
	}
	#main {
	margin: 10px 0px;
	background-color: #424242;
	border-radius:0px;
	-moz-border-radius:0px;
}
.content {
	margin: 0px 0px 0px 0px;
	padding: 20px 10px;
}
.table {
 	width: 100%;
    margin: 0 0;
    font-size: 14px;
    color: #eee;
}
}
    
table {
        border-spacing: 0;
        width: 100%;
    }

td,tr,th{
	padding: 5px;
}

th {
	background-color: #212121;
}

tr:nth-of-type(even){
	background-color: #212121;
}

tr:nth-of-type(odd){
	background-color: #303030;
}

footer {
	padding:1em;
	background-color: #121212;
	height: 80px;
	width: 100%;
	margin-top: 15px;
}
